<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jc.cloud.home.mapper.MonitorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jc.cloud.home.entity.Monitor">
        <id column="id" property="id" />
        <result column="displayName" property="displayName" />
        <result column="monitorName" property="monitorName" />
        <result column="classId" property="classId" />
        <result column="monitorId" property="monitorId" />
        <result column="region" property="region" />
        <result column="playCount" property="playCount" />
        <result column="school" property="school" />
        <result column="status" property="status" />
        <result column="cover" property="cover" />
        <result column="createTime" property="createTime" />
        <result column="createBy" property="createBy" />
    </resultMap>

</mapper>
