<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jc.cloud.home.mapper.RideMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jc.cloud.home.entity.Ride">
        <id column="id" property="id" />
        <result column="babyId" property="babyId" />
        <result column="schoolBus" property="schoolBus" />
        <result column="startTime" property="startTime" />
        <result column="version" property="version" />
        <result column="createTime" property="createTime" />
    </resultMap>

</mapper>
