<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jc.cloud.home.mapper.WorkDetailsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jc.cloud.home.entity.WorkDetails">
        <id column="id" property="id" />
        <result column="carId" property="carId" />
        <result column="teacherId" property="teacherId" />
        <result column="startTime" property="startTime" />
        <result column="endTime" property="endTime" />
        <result column="version" property="version" />
    </resultMap>

</mapper>
