<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jc.cloud.auth.service.mapper.AuthClientMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jc.cloud.auth.service.entity.AuthClient">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="secret" property="secret" />
        <result column="name" property="name" />
        <result column="locked" property="locked" />
        <result column="description" property="description" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>
    <select id="selectAllowedClient" resultType="java.lang.String">
    SELECT
        client.CODE
      FROM
          auth_client client
      INNER JOIN auth_client_service gcs ON gcs.client_id = client.id
    WHERE
        gcs.service_id = #{serviceId}
  </select>
  <select id="selectAuthorityServiceInfo" resultMap="BaseResultMap">
    SELECT
    client.*
    FROM
    auth_client client
    INNER JOIN auth_client_service gcs ON gcs.service_id = client.id
    WHERE
    gcs.client_id = #{clientId}
  </select>
</mapper>
